<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: left;">
      <th></th>
      <th>Indústria</th>
      <th>Watchlist</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Max</th>
      <td>5.95%</td>
      <td>4.99%</td>
    </tr>
    <tr>
      <th>Médio</th>
      <td>-1.27%</td>
      <td>-1.06%</td>
    </tr>
    <tr>
      <th>Mediano</th>
      <td>-1.42%</td>
      <td>-1.25%</td>
    </tr>
    <tr>
      <th>Min</th>
      <td>-9.63%</td>
      <td>-2.34%</td>
    </tr>
    <tr>
      <th>Cap. Líq.</th>
      <td>R$ -348.27 mi</td>
      <td>R$ -22.16 mi</td>
    </tr>
    <tr>
      <th>Data</th>
      <td>2018-09-24</td>
      <td>2018-09-24</td>
    </tr>
  </tbody>
</table>