<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: left;">
      <th style="min-width: 100;"></th>
      <th style="min-width: 100;">RENT DIA</th>
      <th style="min-width: 100;">RENT MES</th>
      <th style="min-width: 100;">CAP DIA</th>
      <th style="min-width: 100;">CAP MES</th>
      <th style="min-width: 100;">PL</th>
    </tr>
    <tr>
      <th style="min-width: 100;">GESTOR</th>
      <th style="min-width: 100;"></th>
      <th style="min-width: 100;"></th>
      <th style="min-width: 100;"></th>
      <th style="min-width: 100;"></th>
      <th style="min-width: 100;"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th style="min-width: 100;">MINT CAPITAL GESTORA DE RECURSOS LTDA</th>
      <td>2.599814</td>
      <td>22.583865</td>
      <td>0.000000</td>
      <td>0.189147</td>
      <td>23.447511</td>
    </tr>
    <tr>
      <th style="min-width: 100;">TARPON GESTORA DE RECURSOS S.A.</th>
      <td>-0.889250</td>
      <td>2.131083</td>
      <td>0.000000</td>
      <td>-0.515327</td>
      <td>396.938100</td>
    </tr>
    <tr>
      <th style="min-width: 100;">SQUADRA INVESTIMENTOS - GESTÃO DE RECURSOS LTDA.</th>
      <td>-1.361613</td>
      <td>1.981560</td>
      <td>0.030000</td>
      <td>-3.773818</td>
      <td>1211.265456</td>
    </tr>
    <tr>
      <th style="min-width: 100;">TEMPO CAPITAL GESTAO DE RECURSOS LTDA</th>
      <td>-1.789866</td>
      <td>1.603202</td>
      <td>0.000000</td>
      <td>-6.382289</td>
      <td>2813.344519</td>
    </tr>
    <tr>
      <th style="min-width: 100;">VERDE ASSET MANAGEMENT S.A.</th>
      <td>-1.187002</td>
      <td>1.205937</td>
      <td>-8.821925</td>
      <td>14.625778</td>
      <td>1132.555877</td>
    </tr>
    <tr>
      <th style="min-width: 100;">TRAFALGAR GESTÃO DE RECURSOS LTDA.</th>
      <td>-0.660300</td>
      <td>1.105535</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>18.090750</td>
    </tr>
    <tr>
      <th style="min-width: 100;">STUDIO INVESTIMENTOS ADMINISTRADORA DE RECURSOS LTDA.</th>
      <td>-1.232377</td>
      <td>0.874541</td>
      <td>0.000000</td>
      <td>-1.215110</td>
      <td>608.721970</td>
    </tr>
    <tr>
      <th style="min-width: 100;">INDIE CAPITAL INVESTIMENTOS LTDA.</th>
      <td>-1.507600</td>
      <td>0.842288</td>
      <td>-3.223450</td>
      <td>-3.223450</td>
      <td>458.734565</td>
    </tr>
    <tr>
      <th style="min-width: 100;">INVESTIDOR PROFISSIONAL GESTÃO DE RECURSOS LTDA</th>
      <td>-0.377621</td>
      <td>0.591763</td>
      <td>0.000000</td>
      <td>-17.369754</td>
      <td>2036.471497</td>
    </tr>
    <tr>
      <th style="min-width: 100;">LUMINUS CAPITAL MANAGEMENT LTDA</th>
      <td>-0.979686</td>
      <td>0.171400</td>
      <td>-0.185532</td>
      <td>-0.185532</td>
      <td>44.381902</td>
    </tr>
    <tr>
      <th style="min-width: 100;">MOAT CAPITAL GESTÃO DE RECURSOS LTDA</th>
      <td>-1.590850</td>
      <td>0.154339</td>
      <td>0.000000</td>
      <td>33.369824</td>
      <td>631.296018</td>
    </tr>
    <tr>
      <th style="min-width: 100;">BOGARI GESTÃO DE INVESTIMENTOS LTDA.</th>
      <td>-1.015522</td>
      <td>-0.057174</td>
      <td>0.000000</td>
      <td>-38.567797</td>
      <td>1152.988595</td>
    </tr>
    <tr>
      <th style="min-width: 100;">GEO CAPITAL GESTORA DE RECURSOS LTDA</th>
      <td>0.337367</td>
      <td>-0.440236</td>
      <td>0.000000</td>
      <td>3.242720</td>
      <td>100.304672</td>
    </tr>
    <tr>
      <th style="min-width: 100;">GUEPARDO INVESTIMENTOS LTDA</th>
      <td>-1.327118</td>
      <td>-0.680724</td>
      <td>0.001500</td>
      <td>-3.354140</td>
      <td>366.361972</td>
    </tr>
    <tr>
      <th style="min-width: 100;">TEOREMA GESTÃO DE ATIVOS LTDA</th>
      <td>-0.432269</td>
      <td>-0.717754</td>
      <td>0.035000</td>
      <td>0.035000</td>
      <td>227.124047</td>
    </tr>
    <tr>
      <th style="min-width: 100;">GTI ADMINISTRAÇÃO DE RECURSOS LTDA</th>
      <td>-1.847736</td>
      <td>-1.467343</td>
      <td>-0.130974</td>
      <td>2.579026</td>
      <td>100.884659</td>
    </tr>
    <tr>
      <th style="min-width: 100;">REAL INVESTOR GESTÃO DE RECURSOS LTDA</th>
      <td>-1.083896</td>
      <td>-1.516502</td>
      <td>0.000000</td>
      <td>0.095926</td>
      <td>213.237184</td>
    </tr>
    <tr>
      <th style="min-width: 100;">TROPICO INVESTIMENTOS E PARTICIPACOES LTDA</th>
      <td>-0.731546</td>
      <td>-1.517518</td>
      <td>-1.015075</td>
      <td>-1.016103</td>
      <td>59.793431</td>
    </tr>
    <tr>
      <th style="min-width: 100;">FAMA INVESTIMENTOS LTDA</th>
      <td>-2.334291</td>
      <td>-1.844849</td>
      <td>0.000000</td>
      <td>-0.884688</td>
      <td>316.205697</td>
    </tr>
    <tr>
      <th style="min-width: 100;">DYNAMO INTERNACIONAL GESTÃO DE RECURSOS LTDA.</th>
      <td>-0.288202</td>
      <td>-2.260705</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>611.980235</td>
    </tr>
    <tr>
      <th style="min-width: 100;">SKOPOS INVESTIMENTOS LTDA</th>
      <td>-0.893697</td>
      <td>-3.137067</td>
      <td>0.090000</td>
      <td>0.186850</td>
      <td>99.975218</td>
    </tr>
  </tbody>
</table>