<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: left;">
      <th>GESTOR</th>
      <th>DENOM_SOCIAL</th>
      <th>RENT_DIA</th>
      <th>RENT_MES(AC)</th>
      <th>CAPTC_LIQ(AC)</th>
      <th>VL_PATRIM_LIQ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>BOGARI GESTÃO DE INVESTIMENTOS LTDA.</td>
      <td>LAGOA FUNDO DE INVESTIMENTO EM COTAS DE FUNDOS...</td>
      <td>-1.178676</td>
      <td>-0.340424</td>
      <td>-1.410281</td>
      <td>60.181638</td>
    </tr>
    <tr>
      <td>BOGARI GESTÃO DE INVESTIMENTOS LTDA.</td>
      <td>REE FUNDO DE INVESTIMENTO DE AÇÕES BDR NÍVEL I...</td>
      <td>-0.600213</td>
      <td>0.265566</td>
      <td>0.000000</td>
      <td>96.938226</td>
    </tr>
    <tr>
      <td>BOGARI GESTÃO DE INVESTIMENTOS LTDA.</td>
      <td>PLURUM FUNDO DE INVESTIMENTO DE AÇÕES</td>
      <td>-0.932931</td>
      <td>0.191366</td>
      <td>0.000000</td>
      <td>44.352001</td>
    </tr>
    <tr>
      <td>BOGARI GESTÃO DE INVESTIMENTOS LTDA.</td>
      <td>BOGARI POLAR FUNDO DE INVESTIMENTO EM AÇÕES</td>
      <td>-1.172629</td>
      <td>-0.262939</td>
      <td>0.000000</td>
      <td>85.296701</td>
    </tr>
    <tr>
      <td>BOGARI GESTÃO DE INVESTIMENTOS LTDA.</td>
      <td>BOGARI PWM VALUE FUNDO DE INVESTIMENTO EM COTA...</td>
      <td>-0.914280</td>
      <td>0.278722</td>
      <td>0.112000</td>
      <td>72.371885</td>
    </tr>
    <tr>
      <td>BOGARI GESTÃO DE INVESTIMENTOS LTDA.</td>
      <td>BOGARI VALUE FUNDO DE INVESTIMENTO EM COTAS DE...</td>
      <td>-1.178715</td>
      <td>-0.338304</td>
      <td>-39.069515</td>
      <td>722.149539</td>
    </tr>
    <tr>
      <td>BOGARI GESTÃO DE INVESTIMENTOS LTDA.</td>
      <td>BOGARI VALUE II FUNDO DE INVESTIMENTO EM COTAS...</td>
      <td>-1.178890</td>
      <td>-0.344496</td>
      <td>0.000000</td>
      <td>22.136104</td>
    </tr>
    <tr>
      <td>BOGARI GESTÃO DE INVESTIMENTOS LTDA.</td>
      <td>BOGARI VALUE INSTITUCIONAL FUNDO DE INVESTIMEN...</td>
      <td>-1.176189</td>
      <td>-0.334931</td>
      <td>0.000000</td>
      <td>16.317010</td>
    </tr>
    <tr>
      <td>BOGARI GESTÃO DE INVESTIMENTOS LTDA.</td>
      <td>BOGARI VALUE Q FUNDO DE INVESTIMENTO EM COTAS ...</td>
      <td>-0.883232</td>
      <td>0.227445</td>
      <td>1.800000</td>
      <td>18.002353</td>
    </tr>
    <tr>
      <td>BOGARI GESTÃO DE INVESTIMENTOS LTDA.</td>
      <td>IODA FUNDO DE INVESTIMENTO EM AÇÕES</td>
      <td>-0.939461</td>
      <td>0.086258</td>
      <td>0.000000</td>
      <td>15.243139</td>
    </tr>
    <tr>
      <td>DYNAMO INTERNACIONAL GESTÃO DE RECURSOS LTDA.</td>
      <td>DYNAMO GLOBAL FIC FIA - INVESTIMENTO NO EXTERIOR</td>
      <td>-0.290736</td>
      <td>-2.291700</td>
      <td>0.000000</td>
      <td>530.233903</td>
    </tr>
    <tr>
      <td>DYNAMO INTERNACIONAL GESTÃO DE RECURSOS LTDA.</td>
      <td>DYBRA GLOBAL FIC FIA - INVESTIMENTO NO EXTERIOR</td>
      <td>-0.285669</td>
      <td>-2.229711</td>
      <td>0.000000</td>
      <td>81.746332</td>
    </tr>
    <tr>
      <td>FAMA INVESTIMENTOS LTDA</td>
      <td>FEBE FUNDO DE INVESTIMENTO EM AÇÕES</td>
      <td>-2.326652</td>
      <td>-1.792072</td>
      <td>0.000000</td>
      <td>159.794408</td>
    </tr>
    <tr>
      <td>FAMA INVESTIMENTOS LTDA</td>
      <td>FAMA PALESTRA FUNDO DE INVESTIMENTO EM COTAS D...</td>
      <td>-2.337254</td>
      <td>-1.869544</td>
      <td>0.000000</td>
      <td>30.240534</td>
    </tr>
    <tr>
      <td>FAMA INVESTIMENTOS LTDA</td>
      <td>FAMA FUNDO DE INVESTIMENTO EM COTAS DE FUNDOS ...</td>
      <td>-2.337863</td>
      <td>-1.871277</td>
      <td>-0.884688</td>
      <td>87.588696</td>
    </tr>
    <tr>
      <td>FAMA INVESTIMENTOS LTDA</td>
      <td>FAMA AR FUNDO DE INVESTIMENTO EM COTAS DE FUND...</td>
      <td>-2.335394</td>
      <td>-1.846504</td>
      <td>0.000000</td>
      <td>38.582059</td>
    </tr>
    <tr>
      <td>GEO CAPITAL GESTORA DE RECURSOS LTDA</td>
      <td>GEO EMPRESAS GLOBAIS FUNDO DE INVESTIMENTO EM ...</td>
      <td>0.397285</td>
      <td>-0.465308</td>
      <td>3.242720</td>
      <td>45.786477</td>
    </tr>
    <tr>
      <td>GEO CAPITAL GESTORA DE RECURSOS LTDA</td>
      <td>GEO GLOBAL EQUITIES FI EM COTAS DE FI EM AÇÕES...</td>
      <td>0.277448</td>
      <td>-0.415165</td>
      <td>0.000000</td>
      <td>54.518195</td>
    </tr>
    <tr>
      <td>GTI ADMINISTRAÇÃO DE RECURSOS LTDA</td>
      <td>GTI HAIFA FUNDO DE INVESTIMENTO DE AÇÕES</td>
      <td>-1.987329</td>
      <td>-0.857752</td>
      <td>2.710000</td>
      <td>9.304297</td>
    </tr>
    <tr>
      <td>GTI ADMINISTRAÇÃO DE RECURSOS LTDA</td>
      <td>GTI DIMONA BRASIL FUNDO DE INVESTIMENTO EM AÇÕES</td>
      <td>-1.708142</td>
      <td>-2.076935</td>
      <td>-0.130974</td>
      <td>91.580362</td>
    </tr>
    <tr>
      <td>GUEPARDO INVESTIMENTOS LTDA</td>
      <td>RAJADA FUNDO DE INVESTIMENTO EM COTAS DE FUNDO...</td>
      <td>-1.401177</td>
      <td>-0.795774</td>
      <td>0.002000</td>
      <td>39.382919</td>
    </tr>
    <tr>
      <td>GUEPARDO INVESTIMENTOS LTDA</td>
      <td>PINGUIM FUNDO DE INVESTIMENTO EM COTAS DE FUND...</td>
      <td>-1.418135</td>
      <td>-0.910538</td>
      <td>0.002000</td>
      <td>70.788735</td>
    </tr>
    <tr>
      <td>GUEPARDO INVESTIMENTOS LTDA</td>
      <td>GUEPARDO FUNDO DE INVESTIMENTO EM COTAS DE FUN...</td>
      <td>-1.312302</td>
      <td>-0.076057</td>
      <td>-0.061865</td>
      <td>43.591846</td>
    </tr>
    <tr>
      <td>GUEPARDO INVESTIMENTOS LTDA</td>
      <td>GUEPARDO ESCALONADO INSTITUCIONAL FUNDO DE INV...</td>
      <td>-1.519697</td>
      <td>-1.555342</td>
      <td>-0.167892</td>
      <td>24.812617</td>
    </tr>
    <tr>
      <td>GUEPARDO INVESTIMENTOS LTDA</td>
      <td>GUEPARDO C FUNDO DE INVESTIMENTO EM COTAS DE F...</td>
      <td>-1.518792</td>
      <td>-1.554117</td>
      <td>-0.179584</td>
      <td>9.922401</td>
    </tr>
    <tr>
      <td>GUEPARDO INVESTIMENTOS LTDA</td>
      <td>GUEPARDO ALLOCATION - FUNDO DE INVESTIMENTO EM...</td>
      <td>-1.372750</td>
      <td>-0.504385</td>
      <td>-0.556761</td>
      <td>10.665746</td>
    </tr>
    <tr>
      <td>GUEPARDO INVESTIMENTOS LTDA</td>
      <td>GUEPARDO 60 FUNDO DE INVESTIMENTO EM COTAS DE ...</td>
      <td>-1.312783</td>
      <td>-0.084510</td>
      <td>-0.093490</td>
      <td>17.843105</td>
    </tr>
    <tr>
      <td>GUEPARDO INVESTIMENTOS LTDA</td>
      <td>GUEPARDO INSTITUCIONAL 60 FUNDO DE INVESTIMENT...</td>
      <td>-1.519088</td>
      <td>-1.543194</td>
      <td>0.017571</td>
      <td>68.004894</td>
    </tr>
    <tr>
      <td>GUEPARDO INVESTIMENTOS LTDA</td>
      <td>GUEPARDO INSTITUCIONAL FUNDO DE INVESTIMENTO E...</td>
      <td>-1.519154</td>
      <td>-1.544612</td>
      <td>0.000000</td>
      <td>54.414436</td>
    </tr>
    <tr>
      <td>GUEPARDO INVESTIMENTOS LTDA</td>
      <td>GUEPARDO FUNDO DE INVESTIMENTO EM COTAS DE FUN...</td>
      <td>-1.309856</td>
      <td>-0.066098</td>
      <td>-2.315719</td>
      <td>11.558395</td>
    </tr>
    <tr>
      <td>GUEPARDO INVESTIMENTOS LTDA</td>
      <td>GUEPARDO PIPE FUNDO DE INVESTIMENTO DE AÇÕES</td>
      <td>-0.244039</td>
      <td>1.317129</td>
      <td>-0.001901</td>
      <td>4.159858</td>
    </tr>
    <tr>
      <td>GUEPARDO INVESTIMENTOS LTDA</td>
      <td>1818 FUNDO DE INVESTIMENTO EM COTAS DE FUNDOS ...</td>
      <td>-1.487373</td>
      <td>-1.378301</td>
      <td>0.000000</td>
      <td>8.669892</td>
    </tr>
    <tr>
      <td>GUEPARDO INVESTIMENTOS LTDA</td>
      <td>WATER LILY FUNDO DE INVESTIMENTO EM COTAS DE F...</td>
      <td>-1.317387</td>
      <td>-0.153616</td>
      <td>0.001500</td>
      <td>2.547129</td>
    </tr>
    <tr>
      <td>INDIE CAPITAL INVESTIMENTOS LTDA.</td>
      <td>FP INDIE TOTAL RETURN FUNDO DE INVESTIMENTO EM...</td>
      <td>-1.500978</td>
      <td>0.844257</td>
      <td>0.000000</td>
      <td>146.993989</td>
    </tr>
    <tr>
      <td>INDIE CAPITAL INVESTIMENTOS LTDA.</td>
      <td>INDIE CAPITAL PLATINUM FUNDO DE INVESTIMENTO E...</td>
      <td>-1.500518</td>
      <td>0.875374</td>
      <td>0.000000</td>
      <td>121.260307</td>
    </tr>
    <tr>
      <td>INDIE CAPITAL INVESTIMENTOS LTDA.</td>
      <td>INDIE FUNDO DE INVESTIMENTO EM COTAS DE FUNDOS...</td>
      <td>-1.521303</td>
      <td>0.807232</td>
      <td>-3.223450</td>
      <td>190.480268</td>
    </tr>
    <tr>
      <td>INVESTIDOR PROFISSIONAL GESTÃO DE RECURSOS LTDA</td>
      <td>IP-VALUE HEDGE PARTNERS FI EM COTAS DE FUNDOS ...</td>
      <td>-0.149443</td>
      <td>0.648503</td>
      <td>5.150000</td>
      <td>23.590189</td>
    </tr>
    <tr>
      <td>INVESTIDOR PROFISSIONAL GESTÃO DE RECURSOS LTDA</td>
      <td>TNAIP FUNDO DE INVESTIMENTO EM COTAS DE FUNDOS...</td>
      <td>-0.388865</td>
      <td>0.381147</td>
      <td>0.000000</td>
      <td>130.893891</td>
    </tr>
    <tr>
      <td>INVESTIDOR PROFISSIONAL GESTÃO DE RECURSOS LTDA</td>
      <td>IP-PRO FUNDO DE INVESTIMENTO EM COTAS DE FUNDO...</td>
      <td>-0.121240</td>
      <td>0.506148</td>
      <td>0.613751</td>
      <td>202.343058</td>
    </tr>
    <tr>
      <td>INVESTIDOR PROFISSIONAL GESTÃO DE RECURSOS LTDA</td>
      <td>IP VH FEEDER I FUNDO DE INVESTIMENTO EM COTAS ...</td>
      <td>-0.124060</td>
      <td>0.516818</td>
      <td>0.925000</td>
      <td>36.707902</td>
    </tr>
    <tr>
      <td>INVESTIDOR PROFISSIONAL GESTÃO DE RECURSOS LTDA</td>
      <td>FUNDO DE INVESTIMENTO EM AÇÕES IP SELEÇÃO</td>
      <td>-0.995547</td>
      <td>1.230628</td>
      <td>0.000000</td>
      <td>739.771009</td>
    </tr>
    <tr>
      <td>INVESTIDOR PROFISSIONAL GESTÃO DE RECURSOS LTDA</td>
      <td>IP VALUE HEDGE ITAÚ FUNDO DE INVESTIMENTO EM C...</td>
      <td>-0.121201</td>
      <td>0.506497</td>
      <td>-20.000000</td>
      <td>148.259574</td>
    </tr>
    <tr>
      <td>INVESTIDOR PROFISSIONAL GESTÃO DE RECURSOS LTDA</td>
      <td>IP VALUE HEDGE FUNDO DE INVESTIMENTO EM COTAS ...</td>
      <td>-0.121123</td>
      <td>0.506741</td>
      <td>-6.782161</td>
      <td>280.403687</td>
    </tr>
    <tr>
      <td>INVESTIDOR PROFISSIONAL GESTÃO DE RECURSOS LTDA</td>
      <td>IP PWM FUNDO DE INVESTIMENTO EM COTAS DE FUNDO...</td>
      <td>-0.121292</td>
      <td>0.504837</td>
      <td>0.850000</td>
      <td>99.979370</td>
    </tr>
    <tr>
      <td>INVESTIDOR PROFISSIONAL GESTÃO DE RECURSOS LTDA</td>
      <td>IP PARTICIPAÇÕES PARTNERS FIC DE FUNDOS DE INV...</td>
      <td>-0.385163</td>
      <td>0.433031</td>
      <td>0.000000</td>
      <td>8.456630</td>
    </tr>
    <tr>
      <td>INVESTIDOR PROFISSIONAL GESTÃO DE RECURSOS LTDA</td>
      <td>IP PARTICIPAÇÕES IPG FUNDO DE INVESTIMENTO EM ...</td>
      <td>-0.574707</td>
      <td>0.362312</td>
      <td>1.705649</td>
      <td>18.918206</td>
    </tr>
    <tr>
      <td>INVESTIDOR PROFISSIONAL GESTÃO DE RECURSOS LTDA</td>
      <td>IP PARTICIPAÇÕES FUNDO DE INVESTIMENTO EM COTA...</td>
      <td>-0.421433</td>
      <td>0.352426</td>
      <td>0.168008</td>
      <td>327.251767</td>
    </tr>
    <tr>
      <td>INVESTIDOR PROFISSIONAL GESTÃO DE RECURSOS LTDA</td>
      <td>IP PARTICIPAÇÕES INSTITUCIONAL -  FUNDO DE INV...</td>
      <td>-1.007373</td>
      <td>1.152067</td>
      <td>0.000000</td>
      <td>19.896214</td>
    </tr>
    <tr>
      <td>LUMINUS CAPITAL MANAGEMENT LTDA</td>
      <td>LUMINUS FUNDO DE INVESTIMENTO DE AÇÕES</td>
      <td>-0.979686</td>
      <td>0.171400</td>
      <td>-0.185532</td>
      <td>44.381902</td>
    </tr>
    <tr>
      <td>MINT CAPITAL GESTORA DE RECURSOS LTDA</td>
      <td>MINT BATALHA VALUE FUNDO DE INVESTIMENTO  EM A...</td>
      <td>0.213373</td>
      <td>5.246179</td>
      <td>0.189147</td>
      <td>11.759713</td>
    </tr>
    <tr>
      <td>MINT CAPITAL GESTORA DE RECURSOS LTDA</td>
      <td>MINT EDUCAÇÃO FUNDO DE INVESTIMENTO EM COTAS D...</td>
      <td>4.986256</td>
      <td>39.921550</td>
      <td>0.000000</td>
      <td>11.687798</td>
    </tr>
    <tr>
      <td>MOAT CAPITAL GESTÃO DE RECURSOS LTDA</td>
      <td>MOAT CAPITAL FUNDO DE INVESTIMENTO EM COTAS DE...</td>
      <td>-2.218035</td>
      <td>0.113592</td>
      <td>13.729824</td>
      <td>568.035431</td>
    </tr>
    <tr>
      <td>MOAT CAPITAL GESTÃO DE RECURSOS LTDA</td>
      <td>MOAT ÚNICO FUNDO DE INVESTIMENTO EM AÇÕES</td>
      <td>-0.326350</td>
      <td>0.250711</td>
      <td>19.640000</td>
      <td>55.312804</td>
    </tr>
    <tr>
      <td>MOAT CAPITAL GESTÃO DE RECURSOS LTDA</td>
      <td>MCQI FUNDO DE INVESTIMENTO EM COTAS DE FUNDOS ...</td>
      <td>-2.228164</td>
      <td>0.098713</td>
      <td>0.000000</td>
      <td>7.947783</td>
    </tr>
    <tr>
      <td>REAL INVESTOR GESTÃO DE RECURSOS LTDA</td>
      <td>RATIONAL INVESTOR FUNDO DE INVESTIMENTO EM AÇÕES</td>
      <td>-0.878629</td>
      <td>-1.962998</td>
      <td>0.275000</td>
      <td>20.348862</td>
    </tr>
    <tr>
      <td>REAL INVESTOR GESTÃO DE RECURSOS LTDA</td>
      <td>REAL INVESTOR FUNDO DE INVESTIMENTO EM AÇÕES</td>
      <td>-0.791919</td>
      <td>-2.303988</td>
      <td>-0.179074</td>
      <td>171.915435</td>
    </tr>
    <tr>
      <td>REAL INVESTOR GESTÃO DE RECURSOS LTDA</td>
      <td>TROPICANA FUNDO DE INVESTIMENTO EM AÇÕES</td>
      <td>-1.581139</td>
      <td>-0.282521</td>
      <td>0.000000</td>
      <td>20.972887</td>
    </tr>
    <tr>
      <td>SKOPOS INVESTIMENTOS LTDA</td>
      <td>SKOPOS BRK FUNDO DE INVESTIMENTO EM COTAS DE F...</td>
      <td>-1.594001</td>
      <td>-2.303963</td>
      <td>0.138885</td>
      <td>63.407835</td>
    </tr>
    <tr>
      <td>SKOPOS INVESTIMENTOS LTDA</td>
      <td>SKOPOS MARATHON I FUNDO DE INVESTIMENTO DE AÇÕES</td>
      <td>-0.543867</td>
      <td>-3.550833</td>
      <td>-0.042035</td>
      <td>15.192631</td>
    </tr>
    <tr>
      <td>SKOPOS INVESTIMENTOS LTDA</td>
      <td>SKOPOS BLUE BIRDS FUNDO DE INVESTIMENTO EM ACOES</td>
      <td>-0.543224</td>
      <td>-3.556404</td>
      <td>0.090000</td>
      <td>21.374751</td>
    </tr>
    <tr>
      <td>SQUADRA INVESTIMENTOS - GESTÃO DE RECURSOS LTDA.</td>
      <td>SQUADRA PRIVATE LONG ONLY FUNDO DE INVESTIMENT...</td>
      <td>-1.405203</td>
      <td>2.234347</td>
      <td>0.000000</td>
      <td>54.891684</td>
    </tr>
    <tr>
      <td>SQUADRA INVESTIMENTOS - GESTÃO DE RECURSOS LTDA.</td>
      <td>SQUADRA LONG-ONLY STR FUNDO DE INVESTIMENTO EM...</td>
      <td>-1.417213</td>
      <td>2.084364</td>
      <td>-0.740677</td>
      <td>41.994694</td>
    </tr>
    <tr>
      <td>SQUADRA INVESTIMENTOS - GESTÃO DE RECURSOS LTDA.</td>
      <td>FPRV SQA SANHAÇO FUNDO DE INVESTIMENTO DE AÇÕE...</td>
      <td>-1.665078</td>
      <td>1.935137</td>
      <td>0.000000</td>
      <td>86.739515</td>
    </tr>
    <tr>
      <td>SQUADRA INVESTIMENTOS - GESTÃO DE RECURSOS LTDA.</td>
      <td>TNAS FUNDO DE INVESTIMENTO EM COTAS DE FUNDOS ...</td>
      <td>-1.417705</td>
      <td>2.086499</td>
      <td>0.000000</td>
      <td>127.308818</td>
    </tr>
    <tr>
      <td>SQUADRA INVESTIMENTOS - GESTÃO DE RECURSOS LTDA.</td>
      <td>SQUADRA LONG-ONLY FUNDO DE INVESTIMENTO EM COT...</td>
      <td>-1.417774</td>
      <td>2.086174</td>
      <td>0.000000</td>
      <td>71.630774</td>
    </tr>
    <tr>
      <td>SQUADRA INVESTIMENTOS - GESTÃO DE RECURSOS LTDA.</td>
      <td>SQUADRA LONG-BIASED STR FUNDO DE INVESTIMENTO ...</td>
      <td>-1.254016</td>
      <td>1.321040</td>
      <td>0.000000</td>
      <td>13.238276</td>
    </tr>
    <tr>
      <td>SQUADRA INVESTIMENTOS - GESTÃO DE RECURSOS LTDA.</td>
      <td>SQUADRA LONG-BIASED FUNDO DE INVESTIMENTO EM C...</td>
      <td>-1.172233</td>
      <td>1.292053</td>
      <td>-0.505961</td>
      <td>181.791540</td>
    </tr>
    <tr>
      <td>SQUADRA INVESTIMENTOS - GESTÃO DE RECURSOS LTDA.</td>
      <td>SQUADRA INSTITUCIONAL FUNDO DE INVESTIMENTO DE...</td>
      <td>-1.907424</td>
      <td>1.112411</td>
      <td>0.000000</td>
      <td>4.411608</td>
    </tr>
    <tr>
      <td>SQUADRA INVESTIMENTOS - GESTÃO DE RECURSOS LTDA.</td>
      <td>SQUADRA HORIZONTE FUNDO DE INVESTIMENTO EM AÇÕES</td>
      <td>-1.664699</td>
      <td>1.945281</td>
      <td>0.000000</td>
      <td>129.992681</td>
    </tr>
    <tr>
      <td>SQUADRA INVESTIMENTOS - GESTÃO DE RECURSOS LTDA.</td>
      <td>SQUADRA AZZURRA FUNDO DE INVESTIMENTO EM COTAS...</td>
      <td>-1.417923</td>
      <td>2.083464</td>
      <td>-2.557181</td>
      <td>71.119420</td>
    </tr>
    <tr>
      <td>SQUADRA INVESTIMENTOS - GESTÃO DE RECURSOS LTDA.</td>
      <td>SQUADRA UDINE FUNDO DE INVESTIMENTO EM COTAS D...</td>
      <td>-1.118432</td>
      <td>1.258043</td>
      <td>0.000000</td>
      <td>69.112450</td>
    </tr>
    <tr>
      <td>SQUADRA INVESTIMENTOS - GESTÃO DE RECURSOS LTDA.</td>
      <td>SQUADRA VE I FUNDO DE INVESTIMENTO DE AÇÕES</td>
      <td>-0.599902</td>
      <td>4.879352</td>
      <td>0.000000</td>
      <td>96.351701</td>
    </tr>
    <tr>
      <td>SQUADRA INVESTIMENTOS - GESTÃO DE RECURSOS LTDA.</td>
      <td>SQUADRA PRIVATE FUNDO DE INVESTIMENTO EM COTAS...</td>
      <td>-1.243371</td>
      <td>1.442124</td>
      <td>0.030000</td>
      <td>262.682296</td>
    </tr>
    <tr>
      <td>STUDIO INVESTIMENTOS ADMINISTRADORA DE RECURSO...</td>
      <td>STUDIO 30 FUNDO DE INVESTIMENTO EM COTAS DE FU...</td>
      <td>-1.085996</td>
      <td>0.745435</td>
      <td>0.350000</td>
      <td>94.704191</td>
    </tr>
    <tr>
      <td>STUDIO INVESTIMENTOS ADMINISTRADORA DE RECURSO...</td>
      <td>ROMA 47 LONG ONLY FI EM COTAS DE FI DE AÇÕES</td>
      <td>-1.084765</td>
      <td>0.792022</td>
      <td>0.000000</td>
      <td>42.242329</td>
    </tr>
    <tr>
      <td>STUDIO INVESTIMENTOS ADMINISTRADORA DE RECURSO...</td>
      <td>FP STUDIO TOTAL RETURN FUNDO DE INVESTIMENTO E...</td>
      <td>-1.354600</td>
      <td>1.006668</td>
      <td>0.000000</td>
      <td>256.448757</td>
    </tr>
    <tr>
      <td>STUDIO INVESTIMENTOS ADMINISTRADORA DE RECURSO...</td>
      <td>STUDIO FUNDO DE INVESTIMENTO EM COTAS DE FUNDO...</td>
      <td>-1.279280</td>
      <td>0.849403</td>
      <td>-1.565110</td>
      <td>136.479745</td>
    </tr>
    <tr>
      <td>STUDIO INVESTIMENTOS ADMINISTRADORA DE RECURSO...</td>
      <td>SI MISTRAL FUNDO DE INVESTIMENTO EM AÇÕES</td>
      <td>-1.357244</td>
      <td>0.979176</td>
      <td>0.000000</td>
      <td>78.846949</td>
    </tr>
    <tr>
      <td>TARPON GESTORA DE RECURSOS S.A.</td>
      <td>TARPON 90 CSHG FUNDO DE INVESTIMENTO EM COTAS ...</td>
      <td>-0.640555</td>
      <td>2.979548</td>
      <td>0.000000</td>
      <td>2.479719</td>
    </tr>
    <tr>
      <td>TARPON GESTORA DE RECURSOS S.A.</td>
      <td>TARPON CSHG FUNDO DE INVESTIMENTO EM COTAS DE ...</td>
      <td>-0.631661</td>
      <td>3.080725</td>
      <td>-0.313484</td>
      <td>48.923491</td>
    </tr>
    <tr>
      <td>TARPON GESTORA DE RECURSOS S.A.</td>
      <td>TARPON GT FUNDO DE INVESTIMENTO EM COTAS DE FU...</td>
      <td>0.399228</td>
      <td>-3.808304</td>
      <td>-0.092843</td>
      <td>34.896476</td>
    </tr>
    <tr>
      <td>TARPON GESTORA DE RECURSOS S.A.</td>
      <td>TARPON INSTITUCIONAL FUNDO DE INVESTIMENTO EM ...</td>
      <td>-2.238083</td>
      <td>2.675505</td>
      <td>-0.109000</td>
      <td>55.533585</td>
    </tr>
    <tr>
      <td>TARPON GESTORA DE RECURSOS S.A.</td>
      <td>TARPON PARTNERS FUNDO DE INVESTIMENTO EM AÇÕES</td>
      <td>-0.950733</td>
      <td>3.103631</td>
      <td>0.000000</td>
      <td>10.750549</td>
    </tr>
    <tr>
      <td>TARPON GESTORA DE RECURSOS S.A.</td>
      <td>TARPON PARTNERS II FUNDO DE INVESTIMENTO EM AÇÕES</td>
      <td>-2.246122</td>
      <td>2.494961</td>
      <td>0.000000</td>
      <td>2.527817</td>
    </tr>
    <tr>
      <td>TARPON GESTORA DE RECURSOS S.A.</td>
      <td>TUCUNARÉ - FUNDO DE INVESTIMENTO EM COTAS DE F...</td>
      <td>-0.633106</td>
      <td>2.947624</td>
      <td>0.000000</td>
      <td>2.563691</td>
    </tr>
    <tr>
      <td>TARPON GESTORA DE RECURSOS S.A.</td>
      <td>FUNDO DE INVESTIMENTO DE AÇÕES TARPON CFJ</td>
      <td>-0.900406</td>
      <td>3.121769</td>
      <td>0.000000</td>
      <td>14.861634</td>
    </tr>
    <tr>
      <td>TARPON GESTORA DE RECURSOS S.A.</td>
      <td>BIJUPIRA II FUNDO DE INVESTIMENTO EM AÇÕES</td>
      <td>-0.000339</td>
      <td>3.522432</td>
      <td>0.000000</td>
      <td>80.732641</td>
    </tr>
    <tr>
      <td>TARPON GESTORA DE RECURSOS S.A.</td>
      <td>BLUEFIN FUNDO DE INVESTIMENTO EM AÇÕES</td>
      <td>-1.251904</td>
      <td>-0.345502</td>
      <td>0.000000</td>
      <td>15.655116</td>
    </tr>
    <tr>
      <td>TARPON GESTORA DE RECURSOS S.A.</td>
      <td>BLUEFIN II FUNDO DE INVESTIMENTO EM COTAS DE F...</td>
      <td>-0.640430</td>
      <td>2.717773</td>
      <td>0.000000</td>
      <td>115.892196</td>
    </tr>
    <tr>
      <td>TARPON GESTORA DE RECURSOS S.A.</td>
      <td>FFB 1 FUNDO DE INVESTIMENTO EM ACOES</td>
      <td>-0.936895</td>
      <td>3.082829</td>
      <td>0.000000</td>
      <td>12.121184</td>
    </tr>
    <tr>
      <td>TEMPO CAPITAL GESTAO DE RECURSOS LTDA</td>
      <td>ELIZABETHA FUNDO DE INVESTIMENTO EM COTAS DE F...</td>
      <td>-1.812694</td>
      <td>1.607182</td>
      <td>-0.229290</td>
      <td>483.727093</td>
    </tr>
    <tr>
      <td>TEMPO CAPITAL GESTAO DE RECURSOS LTDA</td>
      <td>IMBUIA FUNDO DE INVESTIMENTO EM COTAS DE FUNDO...</td>
      <td>-1.818823</td>
      <td>1.633766</td>
      <td>0.000000</td>
      <td>119.870455</td>
    </tr>
    <tr>
      <td>TEMPO CAPITAL GESTAO DE RECURSOS LTDA</td>
      <td>DRACENA FUNDO DE INVESTIMENTO EM COTAS DE FUND...</td>
      <td>-1.826473</td>
      <td>1.627836</td>
      <td>-1.217843</td>
      <td>47.182910</td>
    </tr>
    <tr>
      <td>TEMPO CAPITAL GESTAO DE RECURSOS LTDA</td>
      <td>TNATC FUNDO DE INVESTIMENTO EM COTAS DE FUNDOS...</td>
      <td>-1.557042</td>
      <td>1.484561</td>
      <td>0.000000</td>
      <td>243.088347</td>
    </tr>
    <tr>
      <td>TEMPO CAPITAL GESTAO DE RECURSOS LTDA</td>
      <td>TEMPO CAPITAL FUNDO DE INVESTIMENTO EM COTAS D...</td>
      <td>-1.819870</td>
      <td>1.607061</td>
      <td>-0.952156</td>
      <td>346.957492</td>
    </tr>
    <tr>
      <td>TEMPO CAPITAL GESTAO DE RECURSOS LTDA</td>
      <td>TEMPO CAPITAL PG FUNDO DE INVESTIMENTO EM COTA...</td>
      <td>-1.819381</td>
      <td>1.517624</td>
      <td>0.000000</td>
      <td>23.773508</td>
    </tr>
    <tr>
      <td>TEMPO CAPITAL GESTAO DE RECURSOS LTDA</td>
      <td>TEMPO CAPITAL PRINCIPAL FUNDO DE INVESTIMENTO ...</td>
      <td>-1.811646</td>
      <td>1.610053</td>
      <td>-3.983000</td>
      <td>1413.806825</td>
    </tr>
    <tr>
      <td>TEMPO CAPITAL GESTAO DE RECURSOS LTDA</td>
      <td>TEMPO CAPITAL RF FUNDO DE INVESTIMENTO EM COTA...</td>
      <td>-1.820613</td>
      <td>1.507409</td>
      <td>0.000000</td>
      <td>80.431224</td>
    </tr>
    <tr>
      <td>TEMPO CAPITAL GESTAO DE RECURSOS LTDA</td>
      <td>TEMPO CAPITAL SQ FUNDO DE INVESTIMENTO EM COTA...</td>
      <td>-1.822251</td>
      <td>1.833321</td>
      <td>0.000000</td>
      <td>54.506666</td>
    </tr>
    <tr>
      <td>TEOREMA GESTÃO DE ATIVOS LTDA</td>
      <td>TEOREMA INVESTIMENTO NO EXTERIOR - FUNDO DE IN...</td>
      <td>0.730744</td>
      <td>0.020501</td>
      <td>0.000000</td>
      <td>43.463628</td>
    </tr>
    <tr>
      <td>TEOREMA GESTÃO DE ATIVOS LTDA</td>
      <td>TEOREMA FUNDO DE INVESTIMENTO DE AÇÕES</td>
      <td>-1.595282</td>
      <td>-1.456009</td>
      <td>0.035000</td>
      <td>183.660419</td>
    </tr>
    <tr>
      <td>TRAFALGAR GESTÃO DE RECURSOS LTDA.</td>
      <td>TRAFALGAR ROYAL LONG BIAS LATAM FUNDO DE INVES...</td>
      <td>-0.660300</td>
      <td>1.105535</td>
      <td>0.000000</td>
      <td>18.090750</td>
    </tr>
    <tr>
      <td>TROPICO INVESTIMENTOS E PARTICIPACOES LTDA</td>
      <td>PHT FUNDO DE INVESTIMENTO DE AÇÕES INVESTIMENT...</td>
      <td>-0.617966</td>
      <td>-1.866118</td>
      <td>0.020000</td>
      <td>13.721261</td>
    </tr>
    <tr>
      <td>TROPICO INVESTIMENTOS E PARTICIPACOES LTDA</td>
      <td>HARPIA FUNDO DE INVESTIMENTO DE AÇÕES INVESTIM...</td>
      <td>-0.321892</td>
      <td>-1.971587</td>
      <td>0.000000</td>
      <td>16.577833</td>
    </tr>
    <tr>
      <td>TROPICO INVESTIMENTOS E PARTICIPACOES LTDA</td>
      <td>TROPICO VALUE FUNDO DE INVESTIMENTO DE AÇÕES</td>
      <td>-0.727326</td>
      <td>-2.013444</td>
      <td>-0.021028</td>
      <td>16.316311</td>
    </tr>
    <tr>
      <td>TROPICO INVESTIMENTOS E PARTICIPACOES LTDA</td>
      <td>KLEOS AÇÕES FUNDO DE INVESTIMENTO EM COTAS DE ...</td>
      <td>-1.259001</td>
      <td>-0.218924</td>
      <td>-1.015075</td>
      <td>13.178026</td>
    </tr>
    <tr>
      <td>VERDE ASSET MANAGEMENT S.A.</td>
      <td>CSHG VERDE AM STRATEGY II FUNDO DE INVESTIMENT...</td>
      <td>-1.990022</td>
      <td>2.127610</td>
      <td>-0.384214</td>
      <td>25.924613</td>
    </tr>
    <tr>
      <td>VERDE ASSET MANAGEMENT S.A.</td>
      <td>CSHG VERDE AM UNIQUE LONG BIAS FUNDO DE INVEST...</td>
      <td>-1.922545</td>
      <td>1.495160</td>
      <td>-0.786046</td>
      <td>46.745781</td>
    </tr>
    <tr>
      <td>VERDE ASSET MANAGEMENT S.A.</td>
      <td>VERDE AM VALOR DIVIDENDOS FUNDO DE INVESTIMENT...</td>
      <td>-1.949840</td>
      <td>1.165587</td>
      <td>-0.183662</td>
      <td>48.715376</td>
    </tr>
    <tr>
      <td>VERDE ASSET MANAGEMENT S.A.</td>
      <td>CSHG VERDE AM GLOBAL EQUITIES FUNDO DE INVESTI...</td>
      <td>0.843125</td>
      <td>0.205732</td>
      <td>1.469777</td>
      <td>73.047026</td>
    </tr>
    <tr>
      <td>VERDE ASSET MANAGEMENT S.A.</td>
      <td>VERDE AM ALL GLOBAL EQUITIES FI EM COTAS DE FU...</td>
      <td>0.840822</td>
      <td>0.197417</td>
      <td>-1.029647</td>
      <td>29.664885</td>
    </tr>
    <tr>
      <td>VERDE ASSET MANAGEMENT S.A.</td>
      <td>VERDE AM EHB FUNDO DE INVESTIMENTO EM AÇÕES</td>
      <td>0.084629</td>
      <td>0.332338</td>
      <td>25.000000</td>
      <td>627.222988</td>
    </tr>
    <tr>
      <td>VERDE ASSET MANAGEMENT S.A.</td>
      <td>VERDE AM PERFORMANCE FUNDO DE INVESTIMENTO EM ...</td>
      <td>-2.006621</td>
      <td>2.172663</td>
      <td>-0.458505</td>
      <td>25.116021</td>
    </tr>
    <tr>
      <td>VERDE ASSET MANAGEMENT S.A.</td>
      <td>VERDE AM SUL ENERGIA FUNDO DE INVESTIMENTO EM ...</td>
      <td>-1.890934</td>
      <td>1.485463</td>
      <td>0.000000</td>
      <td>69.714940</td>
    </tr>
    <tr>
      <td>VERDE ASSET MANAGEMENT S.A.</td>
      <td>VERDE AM TOP EQUITIES FUNDO DE INVESTIMENTO EM...</td>
      <td>-1.946336</td>
      <td>1.685289</td>
      <td>-0.180000</td>
      <td>9.169127</td>
    </tr>
    <tr>
      <td>VERDE ASSET MANAGEMENT S.A.</td>
      <td>CSHG VERDE AM DIVIDENDOS FUNDO DE INVESTIMENTO...</td>
      <td>-1.932296</td>
      <td>1.192107</td>
      <td>-8.821925</td>
      <td>177.235120</td>
    </tr>
  </tbody>
</table>